.copyright
    - let currentDate = new Date();
    - let currentYear = currentDate.getFullYear();
    - let copyrightYear = ! theme.copyright.since || currentYear == theme.copyright.since ? currentYear : theme.copyright.since + ' - ' + currentYear;
    - let copyrightURL = theme.copyright.url || config.url
    - let copyrightName = theme.copyright.name || config.author
    p &copy; #{copyrightYear} #[a(href=copyrightURL) #{copyrightName}]
        br
        | Powered by #[a(href='https://hexo.io/', rel='noreferrer', target='_blank') Hexo]