ul.nav.nav-list
    each value, key in theme.menu
        li.nav-list-item
            - if (!value) return null
            - let re = /^(http|https):\/\/*/gi
            - let tar = re.test(value) ? "_blank" : "_self"
            - let type = value.indexOf('.html') === -1 ? 'no-barba' : ''
            a.nav-list-link(href=url_for(value) target=tar class=type)
                != __(key) || key.toUpperCase()
